:root {
    --text: white;
    --background: black;
    --strongPrimary: #c38a37;
    --weakPrimary: #eabe71;
    --strongSecondary: #2f6568;
    --weakSecondary: #7d9ea2;
    --hover: lightgray;
  }
  
  
  body {
    font-family: "Roboto Flex", sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0px;
  }

  main{
    top: 25%;
    left: 25%;
  }

  #choose_game{
    text-align: center;
  }

  #sudoku:hover, #minesweeper:hover, #flags:hover{
    background-color: var(--weakPrimary);
    cursor: pointer;
  }
  section#difficulty{
    background-color: green;
    text-align: center;
  }

  section#game{
    background-color: yellow;
    text-align: center;
  }

  section#replay{
    background-color: blue;
    text-align: center;
  }

footer {
  background-color: var(--strongPrimary);
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 100%;
  padding: 1%;
  margin: 2%;
  bottom: 0;
  
}
.reglas-varias {
  list-style: none;
  padding-inline: 30%;
  text-align: center;
  margin: 1.5%;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  
}
@media  (min-width: 1400px) {
  #sudoku, #minesweeper, #flags{

    width: 10%;
    padding:1%;
    margin: 5%;
    font-size: 1.5em;
    border:none;
    border-radius: 2em;
    background-color: var(--strongPrimary);
    color: var(--text);
}
}
@media  (max-width:1400px) and (min-width: 360px) {
  /*meter aquí la parte responsive*/
  #sudoku, #minesweeper, #flags{
    
    width: 10%;
    padding:10%;
    margin: 5%;
    font-size: 0.1em;
    border:none;
    border-radius: 5em;
    background-color: var(--strongPrimary);
    color: var(--text);
  }
}